[Unit]
Description=Swiftwave Service
After=multi-user.target

[Service]
ExecStart=/bin/sh -c "/usr/bin/swiftwave start"
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target