[Unit]
Description=Swiftwave Updater Timer

[Timer]
OnCalendar=*:0,15,30,45
Unit=swiftwave-updater.service
Persistent=true

[Install]
WantedBy=timers.target
