[Unit]
Description=Swiftwave Updater Timer

[Timer]
OnCalendar=*:0,20,40
Unit=swiftwave-updater.service
Persistent=true

[Install]
WantedBy=timers.target
