[Unit]
Description=Swiftwave Service
After=multi-user.target

[Service]
ExecStart=/bin/sh -c "/usr/bin/swiftwave postgres auto-run-local && /usr/bin/swiftwave start"
Type=simple

[Install]
WantedBy=multi-user.target
