[Unit]
Description=Swiftwave Service TLS Ceritificate Updater

[Timer]
OnCalendar=*-*-* 00:00:00
Unit=swiftwave-service-tls-renew.service
Persistent=true

[Install]
WantedBy=timers.target
