[Unit]
Description=Swiftwave Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/swiftwave
Type=simple

[Install]
WantedBy=multi-user.target